/*Home Page */
body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

.slides h3,h5{
font-weight:bold;    
} 

nav a{
font-family: 'Nunito', sans-serif;
} 

.col{
padding:0;
margin:0;

}

.card-panel{
padding:0;
}

#heading_text{
margin-left:9px;
}

#name_text{
margin:0;
margin-left:3px;
margin-bottom:3px;
}

#price_text{
margin:0;
margin-left:3px;
margin-bottom:3px;
}



/*Desktop*/

@media only screen and (min-width: 993px) {

.add_ons_special_modal{
width:74%;
}

.special_modal{
width:35%;
}

#price_unit{
margin-top:18px;
margin-bottom:30px;
}

#ribbon.closed{
width:4%;
}

#checkout{
width:80%;
margin:auto;
margin-top:21px;
}

.check_out_container{
width:90%;
margin:auto;
margin-top:21px;
}

#logo_header{
width:20%;
}

.nunito-b{
width:80%;
}

#recaptcha{
padding-left:9%;
}


#optional_desktop_col{
width:70%;
padding-left:2%;
margin: auto;
}

#optional_desktop_col_register{
width:50%;
padding-left:2%;
margin: auto;
}

#optional_desktop h4{
margin-bottom:21px;
}



a.add_c{
padding:0px 18px 0px 18px;
}

#full_text{
margin:0;
margin-bottom:6px;
font-family: 'Nunito', sans-serif;
}
 
.row .home_page.col.l3 {
     width:19%;
     margin:0 0.5% 0 0.5%;
 }

 .row{
     padding:0px 9px 0px 9px;
     border:0px solid red;
 }

#def_scene{
display:block;
}

#mob_scene{
display:none;
}

#show_item{
height:auto;
padding:0px 75px 0px 75px;
border:0px solid red;
}

.divider.divider-top{
margin-top:-12px;
}
  
}
/*Desktop*/


/*Medium*/
@media only screen and (min-width: 601px) and (max-width: 992px) {

.add_ons_special_modal{
width:84%;
}

.special_modal{
width:50%;
}

#price_unit{
margin-top:9px;
margin-bottom:21px;
}


#ribbon.closed{
width:8%;
}

#checkout{
width:95%;
margin:auto;
margin-top:12px;
}

.check_out_container{
width:95%;
margin:auto;
margin-top:8px;
margin-bottom:12px;
}

#logo_header{
width:30%;
}


.nunito-b{
width:80%;
}

#optional_desktop_col{
width:95%;
padding-left:2%;
margin:auto;
}

a.add_c{
padding:0px 3px 0px 3px;
}

#full_text{
margin:0;
margin-bottom:6px;
font-family: 'Nunito', sans-serif;
}

.row .home_page.col.m4 {
     width:19%;
     margin:0 0.5% 0 0.5%;
 }


#def_scene{
display:block;
}

#mob_scene{
display:none;
}

.divider.divider-top{
margin-top:12px;
}

}
/*Medium*/



/*Mobile*/
@media only screen and (max-width: 600px) {

.add_ons_special_modal{
width:94%;
}

.special_modal{
width:94%;
}

#price_unit{
margin-top:3px;
margin-bottom:6px;
}

#ribbon.closed{
width:15%;
}

#checkout{
width:98%;
margin:auto;
margin-top:6px;
}

.check_out_container{
width:98%;
margin:auto;
margin-top:6px;
margin-bottom:6px;
}

#optional_desktop_col{
width:98%;
margin:auto;
}

#logo_header{
width:40%;
}

.nunito-b{
width:80%;
}

a.add_c{
padding:0px 3px 0px 3px;
}

#full_text{
margin-top:12px;
margin-bottom:6px;
font-family: 'Nunito', sans-serif;
}

#def_scene{
display:none;
}

#mob_scene{
display:block;
}

.carousel{
margin:0;
padding:0;
}

#heading_text{
margin-left:9px;
margin-top:51px;
}

.divider.divider-top{
margin-top:12px;
}

.nunito-top{
font-family: 'Nunito', sans-serif;
margin:0;
margin-top:21px;
font-size:2em;
}

.nunito{
font-family: 'Nunito', sans-serif;
margin:0;
font-size:2em;
}

div.ratings{
font-size:1.7em;
}

}


/*Mobile*/

.scroll::-webkit-scrollbar {
    width:10px;
    height:3vh;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.extrascroll::-webkit-scrollbar {
    width:18px;
    height:6vh;
}

.extrascroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}



#short_text{
margin:0;
margin:2px 0px 2px 3px;
}

#preloader  {
     background-color: #fefefe;
     height: 30vh;
 }

#get_load{
margin-left:40%;
margin-top:10vh;
}

div.image.col{
max-height:400px;
border:0px solid red;
}

div.image.col img{
max-height:400px;
border:1px solid #e7e7e7;
}


#key_features ul.left{
height:15vh;
border:0px solid red;
margin:0;
float:left;
overflow-y: scroll;
}

#quantity{
padding-left:21px;
font-family: 'Nunito', sans-serif;
}

#but_unit{
width:120px;
padding:0;
}

p.change_q{
font-weight:bold;
font-size:1.2em;
margin:0;
}


li.li{
font-weight:bold;
font-size:1.1em;
}

#search_city{
margin-top:0px;
border:0px solid red;
margin-bottom:0px;
}

input.more{
border:none;
padding:0;
margin-left:35px;
margin-top:-36px;
height:30px;
}

#lmore{
border:none;
border:0px solid red;
padding:0;
margin-left:35px;
font-size:1.1em;
font-family: 'Nunito', sans-serif;
}

i.imore{
border:0px solid red;
margin-left:0px;
margin-top:4px;
}

.nunito-top{
font-family: 'Nunito', sans-serif;
margin:0;
margin-top:21px;
}

.nunito{
font-family: 'Nunito', sans-serif;
margin:0;
}

div.ratings{
margin:0;
border:0px solid red;
width:30%;
}

#align_left{
float:left;
}

#align_right{
float:right;
border-right:1px solid #e7e7e7;
}

a.write{
margin-top:15px;
margin-right:15px;
}

a.add_c{
width:100%;
font-family: 'Nunito', sans-serif;
float:left;
}

a.add_b{
width:100%;
font-family: 'Nunito', sans-serif;
float:left;
}

i.add_c{
margin:0;
margin-right:6px;
}

p.add_c{
margin:0;
}

.modal-trigger{
background-color:#fff;
box-shadow:none;
}

.card-panel:hover .modal-trigger{
background-color:teal;
}

.nunito-b{
font-family: 'Nunito', sans-serif;
margin:0;
text-transform:none;
}

#logo_header{
border:0px solid red;
margin:auto;
}

#login_footer{
margin-top:21px;
border-top:1px solid #e7e7e7;
}


.ribbon.open
{
	position: relative;
	width: 70%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 71px;
	margin: 0px 10px 10px -20px;
	color: #555;
	background-color: teal;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
        text-align:center;
}

.ribbon.closed
{
	position: relative;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 0px 6px 23px;
	margin: 0px 10px 10px -20px;
	color: #555;
	background-color: teal;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
        float:left;
}

.ribbon:before, .ribbon:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}


.ribbon:before
{
	right: -4px;
	top: -1px;
	border-width: 20px 15px;
	border-style: solid;
	border-color:  transparent #fff transparent transparent;
}


.ribbon.closed:before
{
     display:none;
}




.ribbon:after
{
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: teal teal transparent transparent;
}

.nunito-text{
font-family: 'Nunito', sans-serif;
margin:0;
}


